<h1>Add Media</h1>

<%= render partial: '/layouts/errors', locals: {object: @medium} %>

<%= form_for @medium do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :creators %><br>
    <%= f.text_field :creators %><br>

    <div class="field<%= ' field_with_errors' if @medium.errors[:category].any? %>">
    <fieldset>
        <legend>Please Choose a Category</legend>
        <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) %>
    </fieldset>
    </div>

    <h2>What was your experience?</h2>
    <%= f.fields_for :experiences, @medium.experiences.build do |e| %>

        <%= e.hidden_field :medium_id, value: @medium.id %>
        <%= e.hidden_field :user_id, value: current_user.id %>

        <%= e.label :rating, "Rating 1-10" %>
        <%= e.number_field :rating, min: 1, max: 10 %><br>

        <%= e.label :notes %><br>
        <%= e.text_area :notes %><br>

    <% end %>

    <%= f.submit "Add medium" %>
<% end %>
