<h1>Add Media</h1>

<%= render partial: '/layouts/errors', locals: {object: @medium} %>

<%= form_for @medium do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :creators %>
    <%= f.text_field :creators %>

    <fieldset>
        <legend>Please Choose a Category</legend>
        <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name) %>
    </fieldset>

    <h2>What was your experience?</h2>
    <%= f.fields_for :experiences, @medium.experiences.build do |e| %>

        <%= e.hidden_field :medium_id, value: @medium.id %>
        <%= e.hidden_field :user_id, value: current_user.id %>

        <%= e.label :notes %>
        <%= e.text_area :notes %>

        <%= e.label :rating, "Rating 1-10" %>
        <%= e.number_field :rating, min: 1, max: 10 %>

    <% end %>

    <%= f.submit "Add medium" %>
<% end %>
