<!DOCTYPE html>
<html>
  <head>
    <title>MyMediaTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if logged_in? %>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "Add Media", new_medium_path %>
      <%= link_to "See all Media", media_path %>
      <%= link_to "See all Experiences", experiences_path %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in or Sign up!", root_path %>
    <% end %>
    </nav>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
